
.icon-coffee_takeaway_icons-39:before { content: '\e800'; } /* '' */
.icon-coffee_icons-23:before { content: '\e801'; } /* '' */
.icon-cocktail_icons-13:before { content: '\e802'; } /* '' */
.icon-chicken_icons-47:before { content: '\e803'; } /* '' */
.icon-candy_icons-35:before { content: '\e804'; } /* '' */
.icon-burger_icons-16:before { content: '\e805'; } /* '' */
.icon-pizza_icons-33:before { content: '\e806'; } /* '' */
.icon-crepe_icons-17:before { content: '\e807'; } /* '' */
.icon-refreshment_icons-12:before { content: '\e808'; } /* '' */
.icon-restaurant_icons-36:before { content: '\e809'; } /* '' */
.icon-croisant_icons-11:before { content: '\e80a'; } /* '' */
.icon-cupcake_icons-04:before { content: '\e80b'; } /* '' */
.icon-rotiserie_icons-09:before { content: '\e80c'; } /* '' */
.icon-salad_icons-46:before { content: '\e80d'; } /* '' */
.icon-desert_icons-19:before { content: '\e80e'; } /* '' */
.icon-donut_icons-42:before { content: '\e80f'; } /* '' */
.icon-sandwitch_icons-22:before { content: '\e810'; } /* '' */
.icon-soups_icons-28:before { content: '\e811'; } /* '' */
.icon-donut2_icons-41:before { content: '\e812'; } /* '' */
.icon-fish_icons-02:before { content: '\e813'; } /* '' */
.icon-steak_grill_icons-08:before { content: '\e814'; } /* '' */
.icon-sxaras_icons-40:before { content: '\e815'; } /* '' */
.icon-fournou_icons-30:before { content: '\e816'; } /* '' */
.icon-fries_icons-03:before { content: '\e817'; } /* '' */
.icon-taco_icons-29:before { content: '\e818'; } /* '' */
.icon-takeaway_icons-15:before { content: '\e819'; } /* '' */
.icon-frozenyogurt_icons-24:before { content: '\e81a'; } /* '' */
.icon-hotdog_icons-18:before { content: '\e81b'; } /* '' */
.icon-tavern_icons-10:before { content: '\e81c'; } /* '' */
.icon-toast_icons-34:before { content: '\e81d'; } /* '' */
.icon-icecream_icons-07:before { content: '\e81e'; } /* '' */
.icon-kebab_icons-26:before { content: '\e81f'; } /* '' */
.icon-waffle_icons-06:before { content: '\e820'; } /* '' */
.icon-wine_icons-25:before { content: '\e821'; } /* '' */
.icon-mageireuta2_icons-45:before { content: '\e822'; } /* '' */
.icon-magireuta_icons-37:before { content: '\e823'; } /* '' */
.icon-wraps_icons-20:before { content: '\e824'; } /* '' */
.icon-asian_icons-27:before { content: '\e825'; } /* '' */
.icon-mezedes_icons-38:before { content: '\e826'; } /* '' */
.icon-mpougatsa_icons-31:before { content: '\e827'; } /* '' */
.icon-bakery_icons-44:before { content: '\e828'; } /* '' */
.icon-beer_icons-05:before { content: '\e829'; } /* '' */
.icon-pasta_icons-43:before { content: '\e82a'; } /* '' */
.icon-pies_icons-32:before { content: '\e82b'; } /* '' */
.icon-breakfast_icons-14:before { content: '\e82c'; } /* '' */